<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>GOOD API!</h1>
                <h2>Trusted HTTPS Web API Endpoint</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Connect to me for posting credit card info:</h3>
        <ol class="round">
            <li class="one">
                <h5>HTTPS Trusted Endpoint</h5>
                This endpoint is protected by a trusted SSL Server Certificate
            </li>
        </ol>
    </section>
</div>
